@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand');

body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-family: 'Lora', serif;
  overflow: hidden;
}
